<nav class="navbar navbar-expand-md navbar-light bg-light">
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="from">
      <input class="form-control mr-sm-2" type="text" placeholder="to">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Filter</button>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/projects', project.id]">Settings</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col col-sm-8">
      <!--<div class="row mb-4">-->
      <!--<div class="col">-->
      <!--<div class="card">-->
      <!--<div class="card-body">-->
      <!--<p class="card-text mb-1">Spent</p>-->
      <!--<h4 class="card-title mb-0">{{(stats.total /100) | currency:project.currency}}</h4>-->
      <!--<div *ngIf="lineData">-->
      <!--<ngx-charts-line-chart-->
      <!--[view]="view"-->
      <!--[scheme]="colorScheme"-->
      <!--[results]="lineData"-->
      <!--[xAxis]="showXAxis"-->
      <!--[yAxis]="showYAxis"-->
      <!--[legend]="showLegend"-->
      <!--[showXAxisLabel]="showXAxisLabel"-->
      <!--[showYAxisLabel]="showYAxisLabel"-->
      <!--[xAxisLabel]="xAxisLabel"-->
      <!--[yAxisLabel]="yAxisLabel"-->
      <!--[autoScale]="autoScale">-->
      <!--</ngx-charts-line-chart>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="col">-->
      <!--<div class="card">-->
      <!--<div class="card-body" *ngIf="pieChartData.length">-->
      <!--<ngx-charts-pie-chart-->
      <!--[view]="pieView"-->
      <!--[scheme]="pieColorScheme"-->
      <!--[results]="pieChartData"-->
      <!--[legend]="pieShowLegend"-->
      <!--[labels]="pieShowLabels"-->
      <!--[doughnut]="'true'">-->
      <!--</ngx-charts-pie-chart>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <div class="card">
        <table class="table mb-0" *ngIf="entries.length > 0">
          <thead>
          <tr>
            <th>title</th>
            <th>price</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let entry of entries">
            <td>
              <app-category-circle *ngIf="categories" [category]="categories[entry.category?.id]"></app-category-circle>
              {{entry.title}}
            </td>
            <td>{{(entry.price / 100) | currency:project.currency:true}}</td>
            <td>{{entry.date | date: 'dd-MM-yyyy'}}</td>
            <td>
              <div ngbDropdown>
                <button class="btn btn-outline-secondary" ngbDropdownToggle>Actions</button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" [routerLink]="['entries', entry.id]">Edit</a>
                  <button class="dropdown-item" (click)="deleteEntry(entry.id)">Delete</button>
                </div>
              </div>
              <!--<a class="btn btn-primary" [routerLink]="['/projects', projectId, 'entries', entry.id]">Edit</a>-->
              <!--<button class="btn btn-danger" (click)="deleteEntry(entry.id)">Delete</button>-->
            </td>
          </tr>
          </tbody>
        </table>
        <div class="card-body">
          <button class="btn btn-secondary btn-block"
            type="button"
            (click)="loadMore()"
            *ngIf="pagination && pagination.current_page < pagination.total_pages && !isLoading">Load more
          </button>
          <div *ngIf="entries.length === 0 && !isLoading">
            <div class="text-xs-center text-muted">No entries</div>
          </div>
          <div class="text-xs-center" *ngIf="isLoading">
            <app-loading-indicator></app-loading-indicator>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-4">
      <div class="card">
        <div class="card-body">
          <app-entry-form></app-entry-form>
        </div>
      </div>
    </div>
  </div>
</div>
