<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a [routerLink]="['/projects', projectId, 'entries', 'new']">New entry</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div *ngIf="entries.length > 0">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>title</th>
            <th>price</th>
            <th>Category</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let entry of entries">
            <td>{{entry.title}}</td>
            <td>{{entry.price}}</td>
            <td>{{entry.category?.title}}</td>
            <td>{{entry.date}}</td>
            <td>
              <a class="btn btn-primary" [routerLink]="['/projects', projectId, 'entries', entry.id]">Edit</a>
              <button class="btn btn-danger" (click)="deleteEntry(entry.id)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="entries.length === 0 && !isLoading">
        <div class="text-xs-center text-muted">No entries</div>
      </div>
    </div>
    <div class="col">
      <a [routerLink]="['/projects', projectId, 'categories', 'new']">New category</a>
      <div class="list-group">
        <a *ngFor="let category of categories"
          [routerLink]="['/projects', projectId, 'categories', category.id]" class="list-group-item">
          {{category.title}}
          <small *ngIf="category.by_default">(default)</small>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isLoading">
  <div class="text-xs-center">
    <app-loading-indicator></app-loading-indicator>
  </div>
</div>
