<div class="container">
  <div class="row">
    <div class="col">
      <h3>Create an account</h3>
      <div class="card">
        <div class="card-block">
          <div *ngIf="successMessage" class="alert alert-success" role="alert">{{successMessage}}</div>
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>
          <form [formGroup]="form" (ngSubmit)="submitForm()">

            <div class="row">
              <div class="col">
                <div class="form-group" [class.has-danger]="firstNameError.hasError('*', ['dirty'])">
                  <label for="firstName">First name</label>
                  <input class="form-control" id="firstName" formControlName="first_name">
                  <div ngxErrors="first_name" #firstNameError="ngxErrors">
                    <div *ngFor="let error of errors['first_name']" [ngxError]="error.name" [when]="error.when"
                      class="form-control-feedback">
                      {{ error.message }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group" [class.has-danger]="lastNameError.hasError('*', ['dirty'])">
                  <label for="lastName">Last name</label>
                  <input class="form-control" id="lastName" formControlName="last_name">
                  <div ngxErrors="last_name" #lastNameError="ngxErrors">
                    <div *ngFor="let error of errors['last_name']" [ngxError]="error.name" [when]="error.when"
                      class="form-control-feedback">
                      {{ error.message }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group" [class.has-danger]="emailError.hasError('*', ['dirty'])">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" formControlName="email">
                  <div ngxErrors="email" #emailError="ngxErrors">
                    <div *ngFor="let error of errors['email']" [ngxError]="error.name" [when]="error.when"
                      class="form-control-feedback">
                      {{ error.message }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group" [class.has-danger]="passwordError.hasError('*', ['dirty'])">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" formControlName="password">
                  <div ngxErrors="password" #passwordError="ngxErrors">
                    <div *ngFor="let error of errors['password']" [ngxError]="error.name" [when]="error.when"
                      class="form-control-feedback">
                      {{ error.message }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group"
                  [class.has-danger]="passwordConfirmationError.hasError('*', ['dirty']) || form?.errors?.passwordMatch">
                  <label for="passwordConfirmation">Password confirmation</label>
                  <input type="password" class="form-control" id="passwordConfirmation" formControlName="password_confirmation">
                  <div ngxErrors="password_confirmation" #passwordConfirmationError="ngxErrors">
                    <div
                      *ngFor="let error of errors['password_confirmation']" [ngxError]="error.name" [when]="error.when"
                      class="form-control-feedback">
                      {{ error.message }}
                    </div>
                  </div>
                  <div *ngIf="form?.errors?.passwordMatch" class="form-control-feedback">
                    Please enter the same password
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary" [disabled]="!form.valid || isLoading">
              Create my account
            </button>

            <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
